* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.wrapper {
  background-color: #EDEEF3;
  padding:48px 226px 49px;
  
}

// - - - Header
header {
  background: linear-gradient(92.33deg, #087990 0.12%, #055160 100%);
  border: 1px solid #CED4DA;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 72px;
    color: #CFF4FC;
  }
  p {
    font-size: 21px;
    color: #CFF4FC;
    margin-bottom:68px;
  }
}

// - - - Main
.card {
  width: 316px;
  height: 184px;
  background:#FFFFFF;;
  padding: 24px;

}
.card_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emoji {
  font-size: 48px;
  margin-bottom: 18px;
}
.title {
  font-size: 17px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-bottom: 18px;
}
.keywords {
  font-size: 12px;
  color: #3F444A;
}

// - - - Footer 
footer {
  p {
    font-size: 16px;
    color: #6C757D;
  }
}